<div class="container-fluid full-width">

	<div >
		<%= render :partial => 'shared/gist', :locals => { :gists => @gists } %> 
    	
	</div>

  		<%= link_to 'Load More Gists', gist_path(:page => @gist.next_page), :remote => true if @gist.next_page %>
</div>
