<div class="container-fluid full-width">
<div class="szerokosc">
<div class="new_gist">
     <div class="col-sm-4">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h2>Create your gist</h2>
        </div>
   	 </div>
	</div>

	</br>

	<%= render 'form' %>
		</div>
	</div>
</div>

